<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation of Data Entry -- Pet Data Application</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Here is the Pet Data you Inserted into the Database:</h1>
<div th:object="${petForm}">
    <p> <span class="labels">Pet Name: </span><span th:text="*{petName}">Lily</span></p>
    <p> <span class="labels">Owners Last Name:</span> <span th:text="*{ownerLastName}">Theriault</span></p>
    <p> <span class="labels">Pet Species: </span><span th:text="*{petKind}">Cat</span></p>
    <p> <span class="labels">Pet Gender: </span><span th:text="*{petGender}">Female</span></p>
    <p> <span class="labels">Vaccinated: </span><span th:text="*{vaccinated}? 'Yes' : 'No' ">Yes </span> </p>
</div>
<div class="links">
<p><a href="Index.html" th:href="@{/Index}">Index</a></p>
<p><a href="ListPets.html" th:href="@{/ListPets}">List of Pets</a></p>
</div>
</body>
</html>