<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation of Data Entry -- Pet Data Application</title>
</head>
<body>
<h1>Here is the Pet Data you Inserted into the Database:</h1>
<div th:object="${petForm}">
<p th:text="*{petName}">Lily</p>
    <p th:text="*{ownerLastName}">Theriault
    </p>
    <p th:text="*{petKind}">Cat</p>
    <p th:text="*{petGender}">Female</p>
    <p th:text="*{vaccinated}">Yes</p>
</div>
</body>
</html>