<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailed Pet Data -- Pet Data Application</title>
</head>
<body>
<h1>Here are the Pets Details:</h1>
<div th:object="${petForm}">
    <p>Pet Name: <span th:text="*{petName}">Lily</span></p>
    <p>Owners Last Name: <span th:text="*{ownerLastName}">Theriault</span></p>
    <p>Pet Species: <span th:text="*{petKind}">Cat</span></p>
    <p>Pet Gender: <span th:text="*{petGender}">Female</span></p>
    <p>Vaccinated: <span th:text="*{vaccinated}? 'Yes' : 'No' ">Yes </span> </p>
</div>
</body>
</html>